<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=sportsWear,trainers" class="dropdown-item">Sportswear &amp; Trainers</a>
                <a href="{% url 'products' %}?category=joggers" class="dropdown-item">joggers</a>
                <a href="{% url 'products' %}?category=leggings" class="dropdown-item">Leggings</a>
                <a href="{% url 'products' %}?category=sportsWear,trainers,joggers,leggings" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="membership-plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Membership Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="membership-plans-link">
                <a href="{% url 'products' %}?category=monthlyPass" class="dropdown-item">Monthly Pass</a>
                <a href="{% url 'products' %}?category=pay_go" class="dropdown-item">Pay &amp; Go </a>
                <a href="{% url 'products' %}?category=monthlyPass,pay_go" class="dropdown-item">All Memberships</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nutrition-plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-plans-link">
                <a href="{% url 'products' %}?category=800cal" class="dropdown-item">800Kcal Plan </a>
                <a href="{% url 'products' %}?category=500cal"  class="dropdown-item">500Kcal Plan </a>
                <a href="{% url 'products' %}?category=800cal,500cal"  class="dropdown-item">All Nutrition Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nutrition-excercise-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition and Exercise products 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="{% url 'products' %}?category=lessons_courses" class="dropdown-item">Lessons &amp; Courses</a>
                <a href="{% url 'products' %}?category=shakes_bars" class="dropdown-item">Shakes &amp; Bars</a>               
                <a href="{% url 'products' %}?category=fitnessEquip" class="dropdown-item">Fitness Equipment</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=products_bundles" class="dropdown-item">Prodcuts Bundles </a>
                <a href="{% url 'products' %}?category=offers"  class="dropdown-item">Offers</a>
                <a href="{% url 'products' %}?category=new_arrivals,products_bundles,offers" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>